 <button type="button" class="drawer-toggle drawer-hamburger">
      <span class="sr-only">toggle navigation</span>
      <span class="drawer-hamburger-icon"></span>
    </button>
    <nav class="drawer-nav" role="navigation">
      <ul class="drawer-menu">
    {% for link in linklists.main-menu.links %}
    {%- comment %}<locksmith:1d55>{% endcomment -%}
      {%- include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: link, locksmith_subject_parent: linklists.main-menu %}{% if locksmith_transparent %}{% else %}{% continue %}{% endif -%}
    {%- comment %}</locksmith:1d55>{% endcomment -%}
    {% assign child_list_handle = link.title | handle %}
    {% if linklists[child_list_handle] and linklists[child_list_handle].links.size > 0 %}
    <li class="drawer-dropdown">
      <a class="{% if link.active %}active-item {% endif %}drawer-menu-item" class="drawer-menu-item"  data-toggle="dropdown" role="button" aria-expanded="false" href="{{link.url}}">{{ link.title  }}</a>
      <ul class="drawer-dropdown-menu">
        {% for child_link in linklists[child_list_handle].links %}
        {%- comment %}<locksmith:78c6>{% endcomment -%}
          {%- include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: child_link, locksmith_subject_parent: linklists[child_list_handle] %}{% if locksmith_transparent %}{% else %}{% continue %}{% endif -%}
        {%- comment %}</locksmith:78c6>{% endcomment -%}
        {% assign grand_child_list_handle = child_link.title | handle %}
        {% if linklists[grand_child_list_handle] and linklists[grand_child_list_handle].links.size > 0 %}
        <li class="has-dropdown">
          <a class="{% if child_link.active %}active-item {% endif %}drawer-menu-item" class="drawer-menu-item" data-toggle="dropdown" role="button" aria-expanded="false" href="{{child_link.url}}"> {{ child_link.title }}</a>
          <ul class="drawer-dropdown-menu">
            {% for grand_child_link in linklists[grand_child_list_handle].links %}
            {%- comment %}<locksmith:c491>{% endcomment -%}
              {%- include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: grand_child_link, locksmith_subject_parent: linklists[grand_child_list_handle] %}{% if locksmith_transparent %}{% else %}{% continue %}{% endif -%}
            {%- comment %}</locksmith:c491>{% endcomment -%}
            <li>
              <a class="drawer-menu-item" href="{{grand_child_link.url}}">{{ grand_child_link.title  }}</a>
            </li>
            {% endfor %}
          </ul>
        </li>
        {% else %}
        <li class="">
          <a class="drawer-menu-item" href="{{child_link.url}}"> {{ child_link.title  }}</a>
        </li>
        {% endif %}
        {% endfor %}        
      </ul>
    </li>
    {% else %}
    <li>
      <a class="{% if link.active %}active-item {% endif %}drawer-menu-item" href="{{link.url}}"> {{ link.title }}</a>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</nav>