<div class="join">

  <div class="relative_banner top-banner-section">
    <div class="container">
      <div class="banner-img"><img alt="Banner" src="//cdn.shopify.com/s/files/1/0048/6699/8323/t/9/assets/join-bg.png?15869976425932642787"></div>
      <div class="banner-txt" style="top: 30%;">
        <h1>SHARE WHAT YOU<br>
          LOVE &amp; EARN MONEY<br>
          DOING IT</h1>
          {% include 'become-advocate' %}
      </div>
      <!--<div class="video-icon">
        
        <i aria-hidden="true" class="fa fa-play"></i>
      </div>-->
    </div>
  </div>
  
  <div class="container">
		<!--     <div class="row"> -->
		
		<div class="texts-block-top">
            <div class="text-block-with-bg">
              <br><br>
              <h2 class="text-center text-uppercase title-under">WHAT SETS US APART?</h2>
            </div>
			<div class="cu-main-section">
				<div class="section-cu-block clearfix">
					<div class="col-md-5 pull-left"><img alt="PFC Balanced Snacks" class="img-responsive" src="{{ 'pfc.png' | asset_url }}"></div>
					<div class="col-md-7">
						<h3 class="text-uppercase font22 title-bottom-sm">PFC BALANCED SNACKS</h3>
						<p>Hacked Snacks contain a balance of protein, fat and carbohydrates (PFC's). Eating a snack or meal with balanced PFCs every 3 hours has been proven to balance blood sugar, protect muscles and trigger the body to consistently release stored fat.</p>
					</div>
				</div>
			</div><!--       <div class="divider divider==md visible-sm visible-xs"></div> -->
			<div class="cu-main-section">
				<div class="section-cu-block clearfix">
					<div class="col-md-6 pull-right"><img alt="Personalized Subscriptions" class="img-responsive" src="{{ 'ship-cal.png' | asset_url }}"></div>
					<div class="col-md-6">
						<h3 class="text-uppercase font22 title-bottom-sm text-right">Customized Snack<br> Box Subscriptions</h3>
						<p class="text-right">You don't have to keep selling. When people sign up for a subscription you can earn on each of their orders.</p>
					</div>
				</div>
			</div><!--       <div class="divider divider==md visible-sm visible-xs"></div> -->
			<div class="cu-main-section">
				<div class="section-cu-block clearfix">
					<div class="col-md-6 pull-left"><img alt="Start Sharing" class="img-responsive" src="{{ 'promo-referral.png' | asset_url }}"></div>
					<div class="col-md-6">
						<h3 class="text-uppercase font22 title-bottom-sm">PROMO CODES, LOOK UP FEATURES &amp; REFERRAL LINKS</h3>
						<p>Tired of getting bypassed? We’ve created 3 ways to capture referals. 1. Promo Codes, 2. Referal Links 3. Advocate Look up. We love social selling & referal behavior and want to reward you for your sharing efforts. We make it easy to share and KEEP getting rewarded for the brand awesness you create for Hacked Snacks.</p>
					</div>
				</div>
			</div>
		</div>
    
    	<div class="texts-block-bottom">
			<div class="cu-main-section hide-mobile">
				<div class="section-cu-block clearfix">
					<div class="col-md-6 pull-left cork text-block-with-bg">
                  		<div class="content">
                          <h2 class="text-uppercase font22 title-bottom-sm">STEP 1</h2>
                          <h3>SIGN UP TO BECOME AN ADVOCATE</h3>
                          <p>When you sign up to become an Advocate to share our products you will be purchasing an Advocate Kit for $49. Thats it, no on going fees! You now are ellegible to earn as an Advocate. Becoming an Advocate is a big deal! Not only do you love our products, but now you can make money referring others to eat PFC Balanced snacks.</p>
                      	</div>
                      </div>
					<div class="col-md-6 text-block-with-bg journal">
                    	&nbsp;  	
                  	</div>
				</div>
			</div><!--       <div class="divider divider==md visible-sm visible-xs"></div> -->
			<div class="cu-main-section hide-mobile">
				<div class="section-cu-block clearfix">
					<div class="col-md-6 pull-left text-block-with-bg box-subscription"></div>
					<div class="col-md-6 cork text-block-with-bg">
						<div class="content">
                          <h2 class="text-uppercase font22 title-bottom-sm">STEP 2</h2>
                          <h3>GET YOUR PERSONALIZED SNACK BOX SUBSCRIPTION</h3>
                          <p>Customize a snack subscription for you and your crew. We offer a customized box so that you can make it fit you & your families needs.</p>
                      	</div>
                    </div>
				</div>
			</div><!--       <div class="divider divider==md visible-sm visible-xs"></div> -->
			<div class="cu-main-section hide-mobile">
				<div class="section-cu-block clearfix">
					<div class="col-md-6 text-block-with-bg start-sharing pull-right"></div>
					<div class="col-md-6 cork text-block-with-bg">
						<div class="content">
                          <h2 class="text-uppercase font22 title-bottom-sm">STEP 3</h2>
                          <h3>START SHARING & EARN MONEY</h3>
                          <p>Make sure you get a Share It Pack to start sharing your amazing snacks with all your friends & family. Earn a First Order commision for each person who purchases the product off your recommendation. <a href="{{ 'HS_compplan_8.5x11BiFold06302018.pdf' | asset_url }}">Click Here</a> for additional info on how to earn money sharing what you love.</p>
                      	</div>
                    </div>
				</div>
			</div>
          	<div class="cu-main-section cork show-mobile">
              <div class="section-cu-block clearfix">
					<div class="col-sm-12-md-6 pull-left text-block-with-bg">
                  		<div class="content">
                          <h2 class="text-uppercase font22 title-bottom-sm">STEP 1</h2>
                          <h3>SIGN UP TO BECOME AN ADVOCATE</h3>
                          <p>When you sign up to become an Advocate to share our products you will be purchasing an Advocate Kit for $49. Thats it, no on going fees! You now are ellegible to earn as an Advocate. Becoming an Advocate is a big deal! Not only do you love our products, but now you can make money referring others to eat PFC Balanced snacks.</p>
                      	</div>
                      	<div class="content">
                        	<h2 class="text-uppercase font22 title-bottom-sm">STEP 2</h2>
                          <h3>GET YOUR PERSONALIZED SNACK BOX SUBSCRIPTION</h3>
                          <p>Customize a snack subscription for you and your crew. We offer a customized box so that you can make it fit you & your families needs.</p>  
                      	</div>
                      	<div class="content">
                          <h2 class="text-uppercase font22 title-bottom-sm">STEP 3</h2>
                          <h3>START SHARING & EARN MONEY</h3>
                          <p>Make sure you get a Share It Pack to start sharing your amazing snacks with all your friends & family. Earn a First Order commision for each person who purchases the product off your recommendation. <a href="{{ 'HS_compplan_8.5x11BiFold06302018.pdf' | asset_url }}">Click Here</a> for additional info on how to earn money sharing what you love.</p>
                      	</div>
                     </div>
				</div>
          	</div>
		</div>
    
    	<div class="texts-block-last" style="background: #fff">
            <div class="text-block-with-bg">
              <br>
              <h2 class="text-center text-uppercase title-under">GET STARTED</h2>
            </div>
			<div class="cu-main-section">
				<div class="section-cu-block clearfix">
					<div class="col-md-5 pull-left"><img alt="" class="img-responsive" src="{{ 'AdvocateKit.png' | asset_url }}"></div>
					<div class="col-md-7">
						<br>
                      	<p>As a Hacked Snacks Advocate, you'll be joining an aware, on-the-go tribe - who are on a mission to change the way people view nutrition. Not only are you helping those you love to trade their unbalanced, unhealthy snacks for delicious, healthy ones, but you'll also get paid for helping to move this snacking revolution forward.
                      	<br><br>{% include 'become-advocate' %}	
                      	</p>
						
                  </div>
				</div>
			</div>
		</div>
    
	</div>
  
</div>