<div class="join">

  <div class="relative_banner top-banner-section">
    <div class="container">
      <div class="banner-img"><img alt="Banner" src="//cdn.shopify.com/s/files/1/0048/6699/8323/t/9/assets/join-bg.png?15869976425932642787"></div>
      <div class="banner-txt" style="top: 30%;">
        <h1>COMPARTE LO <br>
          QUE AMAS Y GANA DINERO<br>
          HACIENDOLO</h1>
          {% include 'become-advocate' %}
      </div>
      <!--<div class="video-icon">
        
        <i aria-hidden="true" class="fa fa-play"></i>
      </div>-->
    </div>
  </div>
  
  <div class="container">
		<!--     <div class="row"> -->
		
		<div class="texts-block-top">
            <div class="text-block-with-bg">
              <br><br>
              <h2 class="text-center text-uppercase title-under">WHAT SETS US APART?</h2>
            </div>
			<div class="cu-main-section">
				<div class="section-cu-block clearfix">
					<div class="col-md-5 pull-left"><img alt="PFC Balanced Snacks" class="img-responsive" src="{{ 'pfc.png' | asset_url }}"></div>
					<div class="col-md-7">
						<h3 class="text-uppercase font22 title-bottom-sm">PFC BALANCED SNACKS</h3>
						<p>Snacks pirateados contienen un equilibrio de proteínas, grasas y carbohidratos (PFC). Comer un refrigerio o una comida con PFC equilibrados cada 3 horas ha demostrado que equilibra el azúcar en la sangre, protege los músculos y activa el cuerpo para liberar consistentemente la grasa almacenada.</p>
					</div>
				</div>
			</div><!--       <div class="divider divider==md visible-sm visible-xs"></div> -->
			<div class="cu-main-section">
				<div class="section-cu-block clearfix">
					<div class="col-md-6 pull-right"><img alt="Personalized Subscriptions" class="img-responsive" src="{{ 'ship-cal.png' | asset_url }}"></div>
					<div class="col-md-6">
						<h3 class="text-uppercase font22 title-bottom-sm text-right">Customized Snack<br> Box Subscriptions</h3>
						<p class="text-right">No tienes que seguir vendiendo. Cuando las personas se registran para una suscripción, pueden ganar en cada uno de sus pedidos.</p>
					</div>
				</div>
			</div><!--       <div class="divider divider==md visible-sm visible-xs"></div> -->
			<div class="cu-main-section">
				<div class="section-cu-block clearfix">
					<div class="col-md-6 pull-left"><img alt="Start Sharing" class="img-responsive" src="{{ 'promo-referral.png' | asset_url }}"></div>
					<div class="col-md-6">
						<h3 class="text-uppercase font22 title-bottom-sm">PROMO CODES, LOOK UP FEATURES &amp; REFERRAL LINKS</h3>
						<p>¿Cansado de ser pasado por alto? Hemos creado 3 formas de capturar referals. 1. Códigos Promocionales, 2. Enlaces Referal 3. Abogado Buscar. Nos encanta el comportamiento social de venta y referencia y queremos recompensarlo por sus esfuerzos de colaboración. Hacemos que sea más fácil compartir y MANTENER la recompensa por el valor de la marca que crea para Snacks pirateados.</p>
					</div>
				</div>
			</div>
		</div>
    
    	<div class="texts-block-bottom">
			<div class="cu-main-section hide-mobile">
				<div class="section-cu-block clearfix">
					<div class="col-md-6 pull-left cork text-block-with-bg">
                  		<div class="content">
                          <h2 class="text-uppercase font22 title-bottom-sm">PASO 1</h2>
                          <h3>REGÍSTRATE PARA HACER UN ABOGADO</h3>
                          <p>Cuando se registre para convertirse en un Defensor para compartir nuestros productos, comprará un Advocate Kit por $ 49. Eso es, no en ir tarifas! Ahora es eligible ganar como Abogado. Convertirse en un defensor es un gran problema. No solo le encantan nuestros productos, sino que ahora puede ganar dinero recomendando a otros que coman refrigerios equilibrados de PFC.</p>
                      	</div>
                      </div>
					<div class="col-md-6 text-block-with-bg journal">
                    	&nbsp;  	
                  	</div>
				</div>
			</div><!--       <div class="divider divider==md visible-sm visible-xs"></div> -->
			<div class="cu-main-section hide-mobile">
				<div class="section-cu-block clearfix">
					<div class="col-md-6 pull-left text-block-with-bg box-subscription"></div>
					<div class="col-md-6 cork text-block-with-bg">
						<div class="content">
                          <h2 class="text-uppercase font22 title-bottom-sm">PASO 2</h2>
                          <h3>OBTENGA SU SUSCRIPCIÓN PERSONALIZADA DE LA CAJA DE REFRIGERIO</h3>
                          <p>Personalice una suscripción de aperitivo para usted y su tripulación. Ofrecemos una caja personalizada para que pueda adaptarse a sus necesidades y las de su familia.</p>
                      	</div>
                    </div>
				</div>
			</div><!--       <div class="divider divider==md visible-sm visible-xs"></div> -->
			<div class="cu-main-section hide-mobile">
				<div class="section-cu-block clearfix">
					<div class="col-md-6 text-block-with-bg start-sharing pull-right"></div>
					<div class="col-md-6 cork text-block-with-bg">
						<div class="content">
                          <h2 class="text-uppercase font22 title-bottom-sm">PASO 3</h2>
                          <h3>COMIENCE A COMPARTIR Y GANE DINERO</h3>
                          <p>Asegúrate de que tienes un paquete Share It para comenzar a compartir tus increíbles snacks con todos tus amigos y familiares. Obtenga una comisión de primer orden para cada persona que compra el producto de acuerdo con su recomendación. Haga <a href="{{ 'HS_compplan_8.5x11BiFold06302018.pdf' | asset_url }}">clic aquí</a> para obtener información adicional sobre cómo ganar dinero compartiendo lo que ama.</p>
                      	</div>
                    </div>
				</div>
			</div>
          	<div class="cu-main-section cork show-mobile">
              <div class="section-cu-block clearfix">
					<div class="col-sm-12-md-6 pull-left text-block-with-bg">
                  		<div class="content">
                          <h2 class="text-uppercase font22 title-bottom-sm">PASO 1</h2>
                          <h3>REGÍSTRATE PARA HACER UN ABOGADO</h3>
                          <p>Cuando se registre para convertirse en un Defensor para compartir nuestros productos, comprará un Advocate Kit por $ 49. Eso es, no en ir tarifas! Ahora es eligible ganar como Abogado. Convertirse en un defensor es un gran problema. No solo le encantan nuestros productos, sino que ahora puede ganar dinero recomendando a otros que coman refrigerios equilibrados de PFC.</p>
                      	</div>
                      	<div class="content">
                        	<h2 class="text-uppercase font22 title-bottom-sm">PASO 2</h2>
                          <h3>OBTENGA SU SUSCRIPCIÓN PERSONALIZADA DE LA CAJA DE REFRIGERIO</h3>
                          <p>Personalice una suscripción de aperitivo para usted y su tripulación. Ofrecemos una caja personalizada para que pueda adaptarse a sus necesidades y las de su familia.</p>
                      	</div>
                      	<div class="content">
                          <h2 class="text-uppercase font22 title-bottom-sm">PASO 3</h2>
                          <h3>COMIENCE A COMPARTIR Y GANE DINERO</h3>
                          <p>Asegúrate de que tienes un paquete Share It para comenzar a compartir tus increíbles snacks con todos tus amigos y familiares. Obtenga una comisión de primer orden para cada persona que compra el producto de acuerdo con su recomendación. Haga <a href="{{ 'HS_compplan_8.5x11BiFold06302018.pdf' | asset_url }}">clic aquí</a> para obtener información adicional sobre cómo ganar dinero compartiendo lo que ama.</p>
                      	</div>
                     </div>
				</div>
          	</div>
		</div>
    
    	<div class="texts-block-last" style="background: #fff">
            <div class="text-block-with-bg">
              <br>
              <h2 class="text-center text-uppercase title-under">EMPEZAR</h2>
            </div>
			<div class="cu-main-section">
				<div class="section-cu-block clearfix">
					<div class="col-md-5 pull-left"><img alt="" class="img-responsive" src="{{ 'AdvocateKit.png' | asset_url }}"></div>
					<div class="col-md-7">
						<br>
                      	<p>Como defensor de los refrigerios pirateados, te unirás a una tribu consciente, en movimiento, que tiene la misión de cambiar la forma en que las personas ven la nutrición. No solo está ayudando a los que ama a intercambiar sus bocadillos no saludables y desequilibrados por otros deliciosos y saludables, sino que también le pagarán por ayudar a impulsar esta revolución.
                      	<br><br>{% include 'become-advocate' %}	
                      	</p>
						
                  </div>
				</div>
			</div>
		</div>
    
	</div>
  
</div>